.outter{
    height: 100vh;
    
}
.inner{
    height: 50vh;
    width: 50%;
    display: flex;
    margin: auto;
    text-align: center;
    
    border: 2px solid grey;
}
a{
    text-decoration: none;
    color: inherit;
}
.innerco{
    display: flex;
    flex-direction: row;
    margin: auto;
  
}
h1{
    padding: 6%;
}
